In [206]:
import pandas as pd

In [207]:
data = pd.read_csv('delhi_houses.csv')

In [208]:
data['Rooms'].value_counts()

3                   714
4                   289
2                   271
1                    54
5                    19
Residential Plot     18
9                     8
7                     4
6                     2
8                     1
Name: Rooms, dtype: int64

In [209]:
data.head()

   Unnamed: 0 Rooms              Status  Area     Price
0           0     3  Under Construction  3300  58800000
1           1     2       Ready to move   900   5000000
2           2     3  Under Construction  3300  58800000
3           3     3       Ready to move  1200   7000000
4           4     3  Under Construction  3300  58800000

In [210]:
data.isnull().sum()

Unnamed: 0    0
Rooms         0
Status        0
Area          0
Price         0
dtype: int64

In [211]:
data.describe()

        Unnamed: 0          Area         Price
count  1380.000000   1380.000000  1.380000e+03
mean    689.500000   1577.226812  1.992035e+07
std     398.515997   1059.068231  2.961527e+07
min       0.000000    200.000000  8.990000e+05
25%     344.750000    835.000000  5.000000e+06
50%     689.500000   1450.000000  1.550000e+07
75%    1034.250000   1900.000000  2.200000e+07
max    1379.000000  10000.000000  6.100000e+08

In [212]:
data['Rooms'].unique()

array(['3', '2', '4', '1', '5', '7', '9', 'Residential Plot', '6', '8'],
      dtype=object)

In [213]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1380 entries, 0 to 1379
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1380 non-null   int64
 1   Rooms       1380 non-null   object
 2   Status      1380 non-null   object
 3   Area        1380 non-null   int64
 4   Price       1380 non-null   int64
dtypes: int64(3), object(2)
memory usage: 54.0+ KB

In [214]:
#Removing rows with residential plots
data = data[data['Rooms'] != 'Residential Plot']
data['Rooms'].unique()

array(['3', '2', '4', '1', '5', '7', '9', '6', '8'], dtype=object)

In [215]:
data['Status'].unique()

array(['Under Construction', 'Ready to move'], dtype=object)

In [216]:
data['Area'].unique()

array([ 3300,   900,  1200,   800,  1800,  1000,   500,   750,   600,
        3000,   720,  1150,   445,  1275,   757,  2200,  1042,   810,
         450,  1440,  3265,  1100,  1900,   972,   440,  1350,   732,
         864,   540,  4950,   802,  1025,  4800,   803,  1450,  2045,
         580,  1337,   700,  8640,  1365,   925,  3600,   459,   405,
        1125,   990,   442,  2500,  2000,   550,  2600,   642,   684,
        1152,  3150,  1500,  1650,   650,   930,   360,   960,   840,
        1535,   585,   625,   986,   535,   675,   631,  2700,   350,
        2900,  1250,   522,   400,  2750,  1050,  1700,  5400,   520,
        2100,  1782,   545,   820,  3800,   850,   680,  1300,  1400,
         950,  1375,   875,  2150,  2050,  1600,  2250,  1825,  1850,
        2025,  1802,  1950,  1550,  2400,   635,   575,   980,   630,
         855,  1460,  1750,  2300,  1215,  3500,   385,  4500,   660,
         765,  1260,   495,  1575,   780,   620,   610,   640,   885,
        1890,   945,  2800,  2620,   510,  2350,  2680,  2950,  2550,
        2105,  2650,  2450,  1280,  2170,  1820,  3650,  1980,   915,
        4140,  6300,  1670,  1710,  1925,   910,  1860,  7000,  1818,
        1160,  1143,  7200,  5000,  3240,  3350,  1960,  2640,  1880,
        2080,  1902,  2850,  2525,  1045,   858,  9000, 10000,  4000,
        6000,   490,  2010,  1080,  3700,  1058,   200,   890,  2925,
         740,   525,   560,   970,   905,  1370,  1821,  2520,  1238,
         775,   530], dtype=int64)

In [217]:
data['Price'].unique()

array([ 58800000,   5000000,   7000000,  11500000,  30500000,   4300000,
         2200000,   3000000,   3500000,  36000000,  14000000,   5400000,
         4000000,  33000000,   4400000,   8499000,   3600000,  13000000,
        27500000,   4800000,   6000000,   2300000,  65000000, 100000000,
        25000000,   4799000,  12900000,   6200000,  62500000,   9000000,
         3400000,  18500000,   8500000,   3100000,  12500000,   3800000,
        15000000,  60000000,  16000000,   3499000,  22900000,   1898999,
         7500000,   3350000,   5050000, 127500000,   8800000,  17500000,
         5100000,  72500000,   1500000,   2900000,   1900000,  55000000,
         5500000,   6300000,   5580000,  21000000,  23900000,   3208000,
         4200000,  33500000,  11000000,   2500000,   6500000,  61500000,
         3200000,  20500000,   5700000,   4600000,   2150000,   5800000,
         1800000,  11100000,  35000000,  28000000,  18000000,  20000000,
         1100000,   1850000,   8000000,  10000000,   3575000,   2650000,
         2600000,  75000000,  12400000,  15500000,   2800000,   5250000,
         4100000,  31000000,   8350000,  14500000,   5200000,  14900000,
        13799999,  30000000,   2850000,   3799000,   9800000,   2100000,
        26000000,  12800000,   8700000,  42000000,   1950000,   8200000,
        23500000,  16500000,   4761000,   2750000,   2675000,   8600000,
         9700000,   9500000,  16200000,  10200000,   7600000,   9850000,
        16600000,  44000000,   5125000,   5951000,   7211000,   3871000,
         2775000,   4361000, 190000000,   1721000,   4561000,   4110000,
         1600000,   2700000,   2780000,   5120000,   4421000,   3851000,
        38500000,  36500000,  26500000,  40000000,  41500000,  24000000,
        47500000,  43500000,  45000000,  42500000,  32500000,  52500000,
        28500000,  37500000,  18600000,  12200000,   7800000,  45500000,
         9200000,  25099999,   2531000,   3551000,  19200000,  26300000,
        21900000,  25400000,  28100000,  22400000,  17600000,  21100000,
        17200000,  17700000,  22300000,  29000000,  17900000,  39500000,
        17800000,  17000000,  64500000,  32000000,  22100000,  21500000,
        20900000,   2651000,   2471000,  39000000,   5411000,   7450000,
        24500000,  12000000,   3290000,   3550000,   3900000,   2000000,
        22500000,  19500000,  20299999,  19900000,  24200000,  13500000,
        23000000,  15800000,  10500000, 120000000,   7100000,  31500000,
         4500000,  25500000,  24700000,   4011000,   3611000,   3211000,
         3011000,  17400000,  27900000,  18400000,  17100000,  20700000,
        19000000, 180000000,   2511000,  22000000,   6700000,  34000000,
        35500000,  17300000,   3300000,   5850000,   4900000,  16800000,
         4700000,  10800000,   7700000,   9300000,  10300000,   6600000,
         9100000,   7200000,   6400000,   6900000,   5300000,   2400000,
        42100000,  10100000,  20099999,  23800000,   5600000,   3950000,
         3190000,   3220000,   3210000,   3225000,   2599000,  16399999,
        15600000,  15300000,  21800000,   7400000,  26400000,  15200000,
         5650000,   3700000,   2950000,   2450000,  15700000,  27000000,
        19800000,  22200000,  24800000,  20200000,  16299999,  36900000,
        25200000,  14200000,  74000000, 135000000, 130000000,  19400000,
        13100000,  80000000, 114500000, 156500000,  91500000,  91000000,
        90000000, 135100000, 172600000,  52000000,  18100000,  18300000,
        16900000,  23200000,  12600000,  18200000,  24900000,  15900000,
        92000000,  25900000,  34500000,  32100000, 202500000, 108000000,
        89000000,  70000000, 154500000, 182500000,  92500000, 610000000,
        85000000,  86000000,  94500000, 153300000, 142200000,  95000000,
         6559999,  18800000,  14100000,  50000000, 105000000, 135600000,
       137500000,  97500000, 145400000, 141200000,  97600000,   5051000,
        16700000,  19700000,   1000000,  54000000,  20600000,   1450000,
         1400000,   8400000,   2385000,   2325000,  24100000,   3649000,
         4599000,   3599000,   3999000,   4850000,   4860000,  27300000,
        13200000,   2025000,   2350000,   2360000,   3449000,   2475000,
         1975000,   6800000,   3750000,  15100000,   5231000,   3525000,
        20800000,   2490000,   2421000,   2540000,   2275000,   2550000,
         2050000,   3460000,   3450000], dtype=int64)

In [218]:
data = data.drop(columns = 'Unnamed: 0')

In [219]:
data.columns

Index(['Rooms', 'Status', 'Area', 'Price'], dtype='object')

In [220]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()

data['Status'] = enc.fit_transform(data['Status'])

In [221]:
data["Rooms"] = data['Rooms'].astype('int32')

In [204]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1362 entries, 0 to 1379
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rooms   1362 non-null   int32
 1   Status  1362 non-null   int32
 2   Area    1362 non-null   int64
 3   Price   1362 non-null   int64
dtypes: int32(2), int64(2)
memory usage: 42.6 KB

In [222]:
data

      Rooms  Status  Area     Price
0         3       1  3300  58800000
1         2       0   900   5000000
2         3       1  3300  58800000
3         3       0  1200   7000000
4         3       1  3300  58800000
...     ...     ...   ...       ...
1375      3       0   775   3450000
1376      2       0   540   2100000
1377      2       0   600   2850000
1378      2       0   550   2300000
1379      2       0   530   2150000

[1362 rows x 4 columns]

In [205]:
data.to_csv('CleanedData.csv')

# MODEL BUILDING

In [110]:
X = data.drop(columns = 'Price')
y = data['Price']

In [231]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
score = []
for i in range(1,50):
    X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state = i)
    model =  LinearRegression()
    reg = model.fit(X_train, y_train)
    y_pred = model.predict(X_test)   
    score.append(r2_score(y_test,y_pred))
random_value = score.index(max(score)) + 1
random_value

26

In [232]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state = random_value)
model =  LinearRegression()
reg = model.fit(X_train, y_train)
y_pred = model.predict(X_test)
r2_score(y_test,y_pred)
model.predict([[3,0,3300]])[0]

C:\Users\Sriya\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

66649150.90395373

Decision Tree Algorithm

In [88]:
'''from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(max_depth=3)
clf.fit(X_train, y_train)
y_pred_d = clf.predict(X_test)
r2_score(y_test,y_pred_d)'''

0.1588268845670351

XG Boost

In [113]:
#import xgboost as xgb
#from sklearn.metrics import mean_squared_error

In [127]:
# Create a DMatrix for XGBoost to use
#dtrain = xgb.DMatrix(X_train, label=y_train)
#dtest = xgb.DMatrix(X_test, label=y_test)

In [133]:
# Set the XGBoost parameters
#params = {
#    "max_depth": 3,
#    "eta": 0.1,
#    "objective": "reg:squarederror",
#    "eval_metric": "rmse"
#}

In [116]:
# Train the XGBoost model
#num_rounds = 100
#model = xgb.train(params, dtrain, num_rounds)

In [134]:
# Make predictions on the testing data
#y_pred_xg = model.predict(dtest)

# Calculate the r2_score of the predictions
#r2_score(y_test, y_pred_xg)

In [122]:
'''from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(max_depth=2, random_state=0)
rfc.fit(X_train, y_train)
y_pred = rfc.predict(X_test)
r2_score(y_test,y_pred)'''

0.1143358731085865

In [185]:
import pickle
pickle.dump(model,open('LinearRegressionModel.pkl','wb'))