In [46]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

In [2]:
url = "https://www.makaan.com/delhi-residential-property/buy-property-in-delhi-city"

In [3]:
response = requests.get(url)
response

In [4]:
soup = BeautifulSoup(response.content, 'html.parser')

ROOMS

In [5]:
a = soup.find_all('a',attrs={'class':'typelink'})
rooms = []
for i in a:
    rooms.append(i.span.text.strip())

In [ ]:
AREA

In [43]:
b = soup.find_all('td',attrs={'class':'size'})
area = []
for i in b:
    area.append(i.text.strip())
area

['3300',
 '900',
 '3300',
 '1200',
 '3300',
 '800',
 '900',
 '1800',
 '1000',
 '500',
 '750',
 '600',
 '3000',
 '900',
 '600',
 '1000',
 '1200',
 '720',
 '1150',
 '445']

CONSTRUCTION STATUS

In [20]:
c = soup.find_all('td',attrs={'class':'val'})
status = []
for i in c:
    status.append(i.text)
status

['Under Construction',
 'Ready to move',
 'Under Construction',
 'Ready to move',
 'Under Construction',
 'Ready to move',
 'Ready to move',
 'Ready to move',
 'Ready to move',
 'Ready to move',
 'Ready to move',
 'Ready to move',
 'Ready to move',
 'Ready to move',
 'Ready to move',
 'Ready to move',
 'Ready to move',
 'Ready to move',
 'Ready to move',
 'Ready to move']

PRICE

In [35]:
d = soup.find_all('div',attrs={'data-type':'price-link'})
price = []
for i in d:
    units = re.sub('[^a-zA-Z]', '', i.text)
    p = i.text
    if units=='Cr':
        p = p.replace('Cr','')
        p = float(p)*10000000
    elif units=='L':
        p = p.replace('L','')
        p = float(p)*100000
    price.append(int(p))
price

[58800000,
 5000000,
 58800000,
 7000000,
 58800000,
 5000000,
 11500000,
 30500000,
 4300000,
 2200000,
 3000000,
 3500000,
 36000000,
 14000000,
 5400000,
 4000000,
 33000000,
 4400000,
 8499000,
 3600000]

In [53]:
import re
base_url = 'https://www.makaan.com/delhi-residential-property/buy-property-in-delhi-city?_=1680000823263&page='
rooms = []
area = []
status = []
price = []




for i in range(1,70):
    url = base_url+str(i)
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    
    #rooms
    a = soup.find_all('a',attrs={'class':'typelink'})
    for i in a:
        rooms.append(i.span.text.strip())
    
    #area
    b = soup.find_all('td',attrs={'class':'size'})
    for i in b:
        area.append(i.text.strip())
    
    #construction status
    c = soup.find_all('td',attrs={'class':'val'})
    for i in c:
        status.append(i.text)
        
    #price      
    d = soup.find_all('div',attrs={'data-type':'price-link'})
    for i in d:
        units = re.sub('[^a-zA-Z]', '', i.text)
        p = i.text
        if units=='Cr':
            p = p.replace('Cr','')
            p = float(p)*10000000
        elif units=='L':
            p = p.replace('L','')
            p = float(p)*100000
        price.append(int(p))

In [54]:
data = pd.DataFrame({'Rooms':rooms, 'Status': status, 'Area': area, 'Price': price})

In [55]:
data

     Rooms              Status  Area     Price
0        3  Under Construction  3300  58800000
1        2       Ready to move   900   5000000
2        3  Under Construction  3300  58800000
3        3       Ready to move  1200   7000000
4        3  Under Construction  3300  58800000
...    ...                 ...   ...       ...
1375     3       Ready to move   775   3450000
1376     2       Ready to move   540   2100000
1377     2       Ready to move   600   2850000
1378     2       Ready to move   550   2300000
1379     2       Ready to move   530   2150000

[1380 rows x 4 columns]

In [56]:
data.to_csv('delhi_houses.csv')